.button {
  border-radius: var(--button-radius);
  font-weight: 500;
  background: var(--color-primary);
  color: #FFF;
  padding: var(--button-padding);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  border: 0;
  
  transition: filter 0.2s;
  
  img {
    margin-right: 8px;
  }
  
  &.small {
    padding: var(--button-padding-small);
  }

  &.outlined {
    background: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}