

#page-auth {
  // background: var(--color-primary);
  background-image: url('../assets/images/bg/bg-5.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;

  display: flex;
  align-items: stretch;

  @media(max-width: 768px) {
    flex-direction: column;
  }

  aside {
    flex: 60%;

    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    // padding: 120px 80px;
    padding: 80px;
    text-shadow: var(--text-shadow);
    
    img {
      display: none;
      // max-width: 320px;
      max-width: 160px;
      margin-bottom: 40px;
      
      @media(max-width: 768px) {
        display: block;
      }
    }
    
    strong {
      font: 700 36px var(--font-primary);
      font-size: 3rem;
      line-height: 1.2;
      // margin-top: 16px;
    }
    
    p {
      font-size: 1.25rem;
      margin-top: 16px;
      color: var(--gray-5);
    }

    @media(max-width: 768px) {
      padding: 3rem var(--card-padding);
    }

  }
  
  main {
    flex: 40%;
    
    // padding: 0 32px;
    padding: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px 0 0 50px;
    margin: 0 0 0 10px;
    background-color: white;
    box-shadow: var(--shadow-1);

    @media(max-width: 768px) {
      padding: 3rem var(--card-padding);
      border-radius: 50px 50px 0 0;
      margin: 10px 0 0 0;
    }

  }

  .main-content {
    background-color: #FFF;
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 270px;
    align-items: stretch;
    text-align: center;

    > img {
      display: block;
      align-self: center;
      margin-bottom: 40px;

      @media(max-width: 768px) {
        display: none;
      }
    }

    h2 {
      font-size: 24px;
      // margin: 64px 0 24px;
      margin-bottom: 1rem;
      font-family: var(--font-primary);
    }

    form {
      input {
        height: 50px;
        border-radius: var(--input-radius);
        padding: var(--input-padding);
        background: #FFF;
        border: 1px solid var(--gray-3);
      }

      button { 
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: .9rem;
      color: var(--gray-2);
      margin-top: 16px;
      
      a {
        font-size: .9rem;
        color: var(--color-secundary);
      }
    }
  }

  .create-room-button {
    border-radius: var(--button-radius);
    font-weight: 500;
    background: #FFF;
    color: var(--gray-2);
    padding: var(--button-padding);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 1px solid var(--gray-2);

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 1rem;
    color: var(--gray-2);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-2);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-2);
      margin-left: 16px;
    }
  }
}
