

#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  // background: var(--color-primary);
  background-image: url('../assets/images/bg/bg-5.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  aside {
    flex: 7;

    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 120px 80px;

    img {
      // max-width: 320px;
      max-width: 160px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--gray-5);
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px 0 0 50px;
    background-color: white;
    box-shadow: var(--shadow-1);
  }

  .main-content {
    background-color: #FFF;
    padding: var(--card-padding);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      margin-bottom: 40px;
    }

    h2 {
      font-size: 24px;
      // margin: 64px 0 24px;
      margin-bottom: 1rem;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: var(--input-radius);
        padding: var(--input-padding);
        background: #FFF;
        border: 1px solid var(--gray-3);
      }

      button { 
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: .9rem;
      color: var(--gray-2);
      margin-top: 16px;
      
      a {
        font-size: .9rem;
        color: var(--color-secundary);
      }
    }
  }

  .create-room-button {
    // height: 50px;
    border-radius: var(--button-radius);
    font-weight: 500;
    background: #ea4335;
    color: #FFF;
    padding: var(--button-padding);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 1rem;
    color: var(--gray-2);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-2);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-2);
      margin-left: 16px;
    }
  }
}
