:root {

  // Font
  --font-primary: 'Poppins', sans-serif;
  --font-secundary: 'Roboto', sans-serif;

  // Palette
  --color-primary: #18594D;
  --color-primary-hover: #18594D;
  --color-primary-disabled: #18594D;
  --color-primary-highlighted: #358c6331;

  --color-secundary: #30BBF2;
  --color-secundary-hover: #30BBF2;
  --color-secundary-disabled: #30BBF2;
  --color-secundary-highlighted: #30BBF2;

  // Gray
  --gray-1: #29292e;
  --gray-2: #737380;
  --gray-3: #a8a8b3;
  --gray-4: #DBDCDD;
  --gray-5: #f8f8f8;

  // Shadow
  --shadow-color-1: rgba(0, 0, 0, 0.04);
  --shadow-1: 0 2px 12px rgba(0, 0, 0, 0.04);

  // Text
  --text-color: #29292e;
  --text-shadow: 0 1px 3px #000000cc;

  // Link
  --link-color: var(--color-secundary);

  // Card
  --card-radius: .5rem;
  --card-padding: 1.5rem;
  
  // Button
  --button-radius: .5rem;
  --button-padding: 1rem 1.5rem;
  
  // Input
  --input-radius: .5rem;
  --input-padding: 1.5rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: var(--gray-5);
  color: var(--text-color);
}

body, input, button, textarea {
  font: 400 16px var(--font-secundary);
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}