:root {

  // Font
  --font-primary: 'Poppins', sans-serif;
  --font-secundary: 'Roboto', sans-serif;

  // Palette
  --color-primary: #18594D;
  --color-primary-hover: #18594D;
  --color-primary-disabled: #18594D;
  --color-primary-highlighted: #358c6331;
  
  --color-secundary: #30BBF2;
  --color-secundary-hover: #30BBF2;
  --color-secundary-disabled: #30BBF2;
  --color-secundary-highlighted: #30bbf227;

  // Gray
  --gray-1: #212529; // Cor de texto 1 (padrão do tema light)
  --gray-2: #495057; // Cor de textos 2
  --gray-3: #adb5bd; // Ícones, bordas em input e linhas de separador
  --gray-4: #dee2e6; // Background 2
  --gray-5: #f8f9fa; // Background 1 (padrão do tema light)

  // Shadow
  --shadow-1: 0 2px 12px rgba(0, 0, 0, 0.04);

  // Border
  --border-color-1: var(--gray-3);
  
  // Background color
  --bg-color-1: var(--gray-5);
  --bg-color-2: var(--gray-4);
  --bg-color-white: white;

  // Text
  --text-color-1: var(--gray-1);
  --text-color-2: var(--gray-2);
  --text-color-3: var(--gray-3);
  --text-shadow: 0 1px 3px #000000cc;

  // Link
  --link-color: var(--color-secundary);

  // Card
  --card-radius: .5rem;
  --card-padding: 1.5rem;
  
  // Button
  --button-radius: .5rem;
  --button-padding: 1rem 1.5rem;
  --button-padding-small: .4rem .6rem;
  
  // Input
  --input-radius: .5rem;
  --input-padding: 1.5rem;

}

[data-theme="dark"] {
  // Gray
  --gray-1: #f8f9fa; // Cor de texto 1 (padrão do tema light)
  --gray-2: #dee2e6; // Cor de textos 2
  --gray-3: #adb5bd; // Ícones, bordas em input e linhas de separador
  --gray-4: #495057; // Background 2
  --gray-5: #212529; // Background 1 (padrão do tema light)

  // Background color
  --bg-color-white: var(--gray-4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: var(--bg-color-1);
  color: var(--text-color-1);
}

body, input, button, textarea {
  font: 400 16px var(--font-secundary);
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}

.my-container,
.my-container-md {
  padding: 0 var(--card-padding);
  margin-left: auto;
  margin-right: auto;
}
.my-container {
  max-width: 1200px;
}
.my-container-md {
  max-width: 768px;
}

a{
  color: var(--color-secundary);
}