.question {
  background: #FFF;
  border-radius: 8px;
  box-shadow: var(--shadow-1);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }
  
  &.highlighted {
    background: var(--color-secundary-highlighted);
    border: 1px solid var(--color-secundary);
    
    footer .user-info span {
      color: var(--text-color);
    }
  }
  
  &.answered {
    // background: var(--gray-4);
    background: var(--color-primary-highlighted);
  }

  p {
    color: var(--text-color);
  }

  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;

    .user-info {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--gray-2);
        font-size: .9rem;
      }

    }
    
    > .action-button {
      display: flex;
      gap: 16px;
      margin-top: 1.5rem;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-2);
        gap: 8px;

        &.liked {
          color: var(--color-secundary);

          svg path {
            stroke: var(--color-secundary);
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }

    .badge-answered,
    .badge-highlighted {
      border-radius: 9999px;
      padding: 8px 16px;
      font-weight: 500;
      font-size: .9rem;
    }
    .badge-answered {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
    .badge-highlighted {
      border: 1px solid var(--color-secundary);
      color: var(--color-secundary);
    }

    @media(max-width: 768px) {
      flex-direction: column;
    }

  }

  @media(max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}