.room-code {
  min-height: 40px;
  border-radius: 8px;
  overflow: hidden;
  
  background: transparent;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  
  display: flex;
  flex-wrap: nowrap;

  div {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 10px;
    max-width: 260px;
    font-size: .9rem;
    font-weight: 500;
    overflow: hidden;
  }
}