.room-code {
  min-height: 40px;
  border-radius: var(--button-radius);
  overflow: hidden;
  
  background: transparent;
  // border: 1px solid var(--button-bg-gradient-1);
  border: 0;
  background: var(--button-bg-gradient-1);
  padding-right: 1px;
  cursor: pointer;
  
  display: flex;
  flex-wrap: nowrap;

  transition: 0.5s;
  background-size: 200% auto;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
  }

  span {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    display: block;
    align-self: center;
    flex: 1;
    padding: 10px;
    max-width: 260px;
    font-size: .9rem;
    font-weight: 500;
    overflow: hidden;
    border-radius: 0 var(--button-radius) var(--button-radius) 0;
  }

  
  // &:not(:disabled):hover {
  //   // filter: brightness(0.9);
  //   background-position: right center;
  // }
}